@import 'color.scss';
@import 'text.scss';
@import 'button.scss';

.box{
    border: 5px solid $silver;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    font-family: $second;
    font-size: 20px;
    user-select: none;
    &:hover{
        padding: 20px;
        border: 5px solid darken($silver, 20%);
    }
}

.detaildetail{
    padding: auto;
    margin: auto;
}

.boxdetails{
    border: 5px solid $silver;
    // background-color: $peach;
    font-family: $second;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    // width: fit-content;
    // height: fit-content;
    text-align: center;
    cursor: pointer;
    user-select: none;
    &:hover{
        padding: 20px;
        border: 5px solid darken($silver, 20%);
        // background-color: darken($peach, 5%);
    }
}

.boxdetailsWord{
    border: 5px solid $silver;
    // background-color: $peach;
    font-family: $second;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    height: fit-content;
    width: fit-content;
    // display: flex;
    // flex-direction: row;
    // width: fit-content;
    // height: fit-content;
    text-align: center;
    cursor: pointer;
    user-select: none;
    &:hover{
        padding: 20px;
        border: 5px solid darken($silver, 20%);
        // background-color: darken($peach, 5%);
    }
}