@import 'color.scss';
@import 'text.scss';
@import 'button.scss';

input{
    padding: 5px;
    margin: 5px;
}

.formyform{
    text-align: left;
}

.formbox{
    // text-align: center;
    background-color: $darkPurple;
    font-family: $second;
    color: $white;
    align-self: center;
    border: 2px solid $silver;
    width: fit-content;
    // margin: 15rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
}