@import 'color.scss';
@import 'text.scss';
@import 'button.scss';
@import 'form.scss';

.navbutton{
    background-color: $pastelGreen;
    border: 3px solid darken($pastelGreen, 20%);
    color:$black;
    cursor: pointer;
    font-family: $second;
    &:hover{
        background-color: darken($pastelGreen, 30%);
        border: 3px solid $pastelGreen;
    }
}

div{
    background-color: $peach;
}

.box{
    border: 5px solid $silver;
    padding: 10px;
    margin: 10px;
}

h1{
    font-family: $main;
    text-align: center;
}
h3{
    font-family: $second;
    text-align: center;
}
form{
    text-align: center;
}
